{% extends 'index/base.html' %}
{% load staticfiles %}
{% block content %}

<header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">반포고 문과의 잡동사니 공간</div>
                <div class="intro-heading">BANPO</div>




            </div>
        </div>
    </header>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">흑역사 박물관</h2>
                    <h3 class="section-subheading text-muted">내 친구의 가장 개같은 순간들, 모두 공유하세요</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                    <a href="/heuk">
                        <img src="\static\img\icon_segway.png" alt="segway" class="img-responsive">
                    </span>
                    <h4 class="service-heading">찬찬히 구경하기</a></h4>
                    <p class="text-muted">세그웨이, 전동킥보드, 외발휠 등 다양한 종류의 퍼스널 모빌리티를 만나볼 수 있습니다.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="\static\img\icon_calendar.png" alt="calendar" class="img-responsive">
                    </span>
                    <h4 class="service-heading">명예의 전당</h4>
                    <p class="text-muted">원하는 대여 날짜와 시간대를 손쉽게 설정, 관리할 수 있는 달력 기능을 제공합니다.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="\static\img\icon_map.png" alt="map" class="img-responsive">
                    </span>
                    <h4 class="service-heading">새로운 인물 추가하기</h4>
                    <p class="text-muted">빌려주거나 빌릴 위치를 원하는 대로 검색하고 설정할 수 있습니다.  </p>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}

